<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <% if(login == user.login) { %>
        <script>
            var user = <%- json_user %>;
            var tag = <%- json_tag %>;
        </script>
        <script src='script/account.js'></script>
    <% } %>

    <div class="container">
        <div id="main_div" class="jumbotron">
                <center><h3><b><u><%= user.login %></u></b> <% if(login == user.login) { %>(Vous)<% } %></h3>
                        <% profil = null
                        pic.forEach(function(val) {
                            if (val.type == 'profil') {
                                profil = val.name
                            }
                        }) %>
                        <img id="picture_preview" height="200px" width="200px"
                        <% if (profil) {%>
                            src="picture/<%= profil %>"
                        <% } else { %>
                            src="picture/default.jpg"
                        <% } %>
                        >
                    <div id='div_pic'></div>
                </center>
            <br/>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <%= user.login %>:
                        </div>
                        <div class="card-block">
                            <blockquote id='div_info' class="card-blockquote">
                                <ul class="list-unstyled">
                                    <li><%= user.f_name %> <%= user.name %></li>
                                    <li><%= user.gender %></li>
                                    <li><% if (user.age) { %><%= user.age %> ans<% } %></li>
                                    <li><%= user.orientation %></li>
                                </ul>
                            </blockquote>
                        </div>
                    </div><br/>
                    <div class="card">
                        <div class="card-header">
                            Centre d'interet
                        </div>
                        <div class="card-block">
                            <blockquote id='div_tag' class="card-blockquote">
                                <ul class="list-unstyled">
                                    <% tag.forEach(function(val) { %>
                                        <li><%= val.tag %></li>
                                    <% }) %>
                                </ul>
                            </blockquote>
                        </div>
                    </div><br/>
                </div>
                <div class="col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            Biographie
                        </div>
                        <div class="card-block">
                            <blockquote id='div_bio' class="card-blockquote">
                                <%= user.bio %>
                            </blockquote>
                        </div>
                    </div><br/>
                    <div class="card">
                        <div class="card-header">
                            Photos
                        </div>
                        <div class="card-block">
                            <blockquote class="card-blockquote">

                            </blockquote>
                        </div>
                    </div><br/>
                </div>
            </div>
            <center><% if(login == user.login) { %><button id="main_button" type="button" class="btn btn-secondary" onclick="modif()">Modifier mes informations</button><% } %><br/><small id='main_small' class="form-text text-muted"></small></center>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
