<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <div id="main_div" class="jumbotron">
            Bonjour <%= login %></br></br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center">Photo</th>
                        <th style="text-align:center">Login</th>
                        <th style="text-align:center">Tag en commun</th>
                        <th style="text-align:center">Score</th>
                        <th style="text-align:center">Profil</th>
                    </tr>
                </thead>
                <tbody>
                    <%users.forEach((val) => { %>
                        <tr>
                            <th style="vertical-align:middle; text-align:center">
                                <% if (val[1].pic) { %>
                                    <img height="200px" width="200px" src='picture/<%= val[1].pic %>'>
                                <% } else { %>
                                    <img height="200px" width="200px" src='picture/default.jpg'>
                                <% } %>
                            </th>
                            <th style="vertical-align:middle; text-align:center"><%= val[0] %></th>
                            <th style="vertical-align:middle; text-align:center"><%= val[1].count %></th>
                            <th style="vertical-align:middle; text-align:center"><%= val[1].score%></th>
                            <th style="vertical-align:middle; text-align:center"><a href='account?login=<%= val[0] %>'>Voir profil</a></th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
